.logo {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 500;
  top: 10px;
  left: 100px;
  filter: invert(1);
}

.menu_lateral {
  height: 100%;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: #2c2449;
  overflow-y: auto;
}

.menu_lateral-list {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.menu_lateral::-webkit-scrollbar {
  display: none;
}

.icon_logo {
  width: 40px;
  height: 40px;
}

.list_item {
  width: 95%;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list_item_navlink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  width: 200px;
}

.active_clas {
  left: 200px;
}

@media only screen and (max-width: 705px) {
  .logo {
    left: 5px;
  }

  .menu_lateral {
    position: absolute;
    transform: translateX(-100px);
    z-index: 600;
    align-items: center;
    justify-content: center;
  }

  .active {
    transform: translateX(0);
  }

  .active_clas{
    transform: translateX(200px);
  }

  .menu_lateral-list{
    height: 90%;
    justify-content: space-evenly;
  }
}
