.container_capi {
  width: 80%;
  margin: 20px auto;
  /* display: flex;
  flex-wrap: wrap;
  gap: 0; */
  /* justify-content: space-evenly; */
  line-height: 2;
  word-wrap: break-word;
}

.container_capi pre {
  margin: 0px 0px 20px 0px;
  display: flex;
  white-space: pre-line;
  flex-direction: column;
}

.centrarEstrella {
  display: flex;
  justify-content: center;
}

/* pre{
      white-space: pre-line;
  } */

.container_capi figure {
  display: flex;
  justify-content: center;
  width: 90%;
}

.container_capi img {
  width: 600px;
  margin: 10px;
}

.container_capi .naveg {
  width: 95%;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}

.previuos {
    display: flex;
    justify-content: space-evenly;
    outline: 1px solid orange;
    background-color: #03fc18;
    width: 110px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
  }

.btn_naveg {
  color: white;
  width: auto;
}

.naveg img {
  /* position: relative; */
  width: 10px;
  margin: 5px;
}

.home {
  display: flex;
  outline: 1px solid orange;
  background-color: #03fc18;
  width: 110px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  justify-content: space-evenly;
}

.btn_naveg-link{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home img {
  width: 20px;
  height: 20px;
}

.naveg .next {
  display: flex;
  outline: 1px solid orange;
  background-color: #03fc18;
  width: 100px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  justify-content: center;
}

.btn_naveg-w {
    width: 60%;
}

@media only screen and (max-width: 765px){
  .container_capi{
    width: 90%;
  }
}