@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:wght@700&family=Poppins:wght@700&display=swap'); */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
}

html {
  scrollbar-width: none;
}

.scrollbar{
  scrollbar-width: none;
}

.margin {
  margin: 15px auto;
}

.mi-clase {
  font-size: 15px;
}

.container-card {
  display: flex;
  margin: 10px auto;
  width: 90%;
  justify-content: space-between;
}

.div-content {
  width: 150px;
  height: 170px;
  margin: 10px;
  display: flex;
}

.img {
  width: 120px;
  height: 150px;
  margin: 10px;
}

.container_ilustraciones {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
}

.container_title {
  width: 90%;
}

.card_vol {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 0px 8px 1px rgb(120, 118, 118);
  border-radius: 20px;
}

.img-card {
  width: 200px;
  height: 250px;
}

.link-url {
  background: linear-gradient(#27f743, #711eed);
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  margin: 5px;
}

.margin {
  margin: 10px auto;
}

.lineHeigth {
  line-height: 2;
}

.backgraoud {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.backgraoud img {
  width: 100%;
  height: 500px;
}

.modal_confirm {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 7000;
}

.color {
  background: #20202c;
}

.main__container_perfil {
  min-height: 105vh;
}

@media (max-width: 768px) {
  .backgraoud img {
    width: 100%;
    height: 250px;
  }

  .main__container_perfil {
    /* max-height:90vh; */
    min-height: 69vh;
  }
}
